<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rent-A-Car</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/table.css" th:href="@{/css/table.css}" />
</head>
<body>
<form action="#" th:action="@{/rent}" th:object="${rent}" method="post">
    <h1 style="padding-left: 50px;">Rent A Car</h1>
    <table class="table table-sm table-striped" style="width: 340px">
        <tr>
            <td>Car:</td>
            <td><input type="text" name="carRegistrationPlate" th:value="${carRegistrationPlate}" /></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td>From</td>
            <td><input type="date" th:field="*{dateFrom}" /></td>
        </tr>
        <tr>
            <td>To</td>
            <td><input type="date" th:field="*{dateTo}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
            <td><input type="reset" value="Reset" /></td>
        </tr>
        </tr>
    </table>
</form>
</body>
</html>